/* ------------------Rules------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    
}

/* RESET LISTA */
ul {
    list-style-type: none;
    padding-left: 0;
}

.flex{
    display: flex;
        
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    
}

/*USO TAG GENERICO*/
hr{ 
    background-color: ghostwhite;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 3px;
}


/*------------- H E A D E R --------------------*/
header {
    font-family: 'Josefin Sans', sans-serif; 
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: #F40001;
    box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.66);
}

/* LOGO edit */
#logo-cocacola img {
    width: 200px;
}

/* LINK #nav-header edit*/
#nav-header ul li {
    display: inline-block;
    margin-right: 16px;
    font-size: 22px;
    font-weight: bold;
}

#nav-header a:hover {
    color: white;
}


#nav-header svg {
    color: white;
}

/* BORDO INFERIORE LINK #nav-header */
#nav-header li {
    border-bottom: 2px solid transparent;
}

#nav-header li:hover {
    color: white;
    transition: all 1s ease-in-out;
    border-bottom: 2px solid white;
}

/* SOCIAL */
.social svg {
    color: white;
    margin-right: 16px;
}

.social svg:hover {
    color: black;
    transition: all .8s ease-in-out;
}

/* #nav-header LINK + SOCIAL */
#nav-header a, .social a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

.menu-hamburger {
    cursor: pointer;
}


@media screen and (max-width: 970px) {
    nav, .social {
        display: none;
    }


    header {
        justify-content: space-between;
        padding: 0 10px;
    }
}

@media screen and (min-width: 970px) {
    .menu-hamburger {
        display: none;
    }
}


/*-------------M A I N--------------------*/

/*---The hero image---*/
#hero-page {
    height: 88vh;
    background-image: url(/assets/img/hero-page_serving-cola.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}


/*-------------Section: info-panels--------------------*/

#info-panels{
    background-color: whitesmoke;
    height: 280vh;
    gap: 10vh;
    padding: 10vh 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 26px 0px rgba(0,0,0,0.66);

}

.panel {
   /*  background-color: coral; /*Test */
    gap: 10vh;
    width: 73%;
    height: 70%;
    justify-content: space-around;
    align-items:center;
    gap: 0;
    
}

.panel-text {
    background-color: white;
    box-shadow: 0 14px 18px rgba(0,0,0,.06);
    /* padding-top: 5%; */
    padding-left: 5%;
    gap: 10px;
    width: 50%;
    height: 50%;
    position: relative;
    justify-content: center;
    z-index: 2;
    border-radius: 16px;
}
/*---Prodotto---*/

/* #product-wrapper {
    background-image: url(https://images-ext-1.discordapp.net/external/HyC1rmi6kyCdQK8mrQ3eFSE-J4r-Qcow5FrTEnj2bD8/%3Fq%3Dw_2000%2Ch_1429%2Cx_0%2Cy_0%2Cc_fill/https/media.cnn.com/api/v1/images/stellar/prod/210802170856-coca-cola-zero-sugar-us-store-0624-stock.jpg?format=webp&width=959&height=685);
    box-shadow: inset 0px 0px 19px 11px rgba(0,0,0,0.66);
    border-radius: 6px;

} */

#product-panel {
    padding: 0;
    max-width: 500px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#product-panel > p{
    width: 80%;
    font-weight: 300;
    text-align: center;
    
}

.wrapper {
    background-color: white;
    
    max-width: 70%;
    padding: 5%;
    border-radius: 16px;
}

h4{ /* ATTENZIONE! uso tag generico*/
    /* background-color: green; /*Test */
    font-size: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


h3 {/* ATTENZIONE! uso tag generico*/
    /* background-color: green; /*Test*/
    font-size: 26px;
    justify-content: left;
    width: 75%;
}

p { /* ATTENZIONE! uso tag generico*/
    /* background-color: rgb(6, 63, 6); /*Test */
    width: 80%;
    font-weight: 500;  
    font-size: 19px;
}

#left-img{
    background-image: url(https://imovegreen.it/wp-content/uploads/2020/10/sostenibilita-ambientale.jpg); /*Test*/
    background-size: cover;
    border-radius: 16px;
    width:60%;
    height:70%;
    top: 16%;
    left: 16%;   
    position: relative;
    z-index: 1;
}

#right-img {
    background-image: url(https://www.coca-cola.com/content/dam/onexp/it/it/home-images/homepage/it_homepage_Campaign_Card_2_1280x1024.jpg/width1960.jpg);
    background-size: cover;
    border-radius: 16px;
    width:60%;
    height:70%;
    top:16%;
    right: 16%;
    position: relative;
    z-index: 1;
}

/*-------------Section: brands--------------------*/

#brands {
    background-color: whitesmoke;
    align-items: center;
    height: 100vh;
    gap: 0;
    padding: 10vh 0;
    justify-content: center;
    align-items: center;
    
    
}

#brand-panel{
    /* background-color: coral; /*Test */
    width: 58%;
    height: 70%;
    justify-content: center;
    align-items:center;
    gap: 16px;
}

#brand-title {
    /* background-color: rgb(0, 0, 0); /*Test */
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 5% 0; */
}


h2{
    /*background-color: green; /*Test*/
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

#brand-list {
    /*background-color: rgb(19, 5, 0); /*Test*/
    /* height:90%;
    width: 60%; */
    min-width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
}

.brand-icon {
    background-color: white;
    box-shadow: 0 14px 18px rgba(0,0,0,.06);
    border-radius: 16px;
    height: 180px;
    width: 180px;
    align-items: center;
    justify-content: center;
}

.icon{
    justify-content: center;
    align-items: center;
    width: 75%;
}



/*FOOTER*/

footer{
    background-color: black;
    height: 100%;
    padding: 60px;
}


/* SECTION LOGO E BUTTON*/

#logo-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.img-logo{
    width: 15rem;
}


/*TERMINI*/

.aside-form{
    margin: 40px 30px 30px;
    display: flex;
    
}

.termini{
    width: 42vw;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #fff;    
}
h5{ /* USO TAG GENERICO*/
    margin-left: 10px;
    color: rgb(112, 112, 114);
    
}

.termini ul li{
    padding: 10px;
}

/*FORM CONTACT*/

#contact{
    width: 491px;
    align-items: center;
}

form{ /*USO TAG GENERICO*/
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.form-option{
    width: 470px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
}
.form-contact{
    border-radius: 15px;
    text-align: center;
    margin: 6px;    
    align-items: end;
    
}

.button-foot{
    padding: 10px 20px;
    border-radius: 15px;
    border-color: #fff;
    background-color: black;
    color: #fff;
}

.button-foot:hover {
    background-color: #fff;
    color: black;
    transition: all 1s ease-in-out;
}


.text-footer{
    width: 40vw;
    padding-top: 10px;
    color: #fff;
    font-size: 15px;
    align-items: flex-end;
}

/* SOCIAL FOOTER */
.social-media-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end   ;
}

.social-footer {
    display: flex;
    color: #fff;
    padding-top: 20px;
}

.social-footer svg {
    color: white;
    margin-right: 16px;
}

.social-footer svg:hover {
    color: #F40001;
    transition: all .8s ease-in-out;
    
}

@media screen and (max-width: 780px) {

    footer{
        padding: 25px
    }
    .aside-form{
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }
    .termini{
        width: 100%;
        font-size: 12px;
        padding-bottom: 5px;
        justify-content: space-evenly;
    }
    #contact{
        width: 100%;
    }
    .form-textarea{
        width: 100%;
    }
    .social-media-footer{
        align-items: center;
    }
    .text-footer{
        width: 100%;
        text-align: center;
    }
    
}

@media screen and (max-width: 780px) {
    .panel {
        flex-direction: column;
        height: 80%;
    }
    .panel-text{
        width: 100%;
        align-items: center;
        padding: 0;     
    }
    #info-panels{
        font-size: 11px;
        height: 220vh;
    }
    #product-panel {
        height: 80%;
        width: 140%;
    }
    .wrapper {
        height: 50%;
    }
    #left-img{
        width: 100%;
        top: 8%;
        left: 8%;
    }
    #right-img {
        width: 100%;
        top:-8%;
        right: 8%;
    }
    #brands{
        height: 75vh;
    }
    #brand-panel {
        width: 140%;
    }

    .brand-icon {
        width: 11vh;
        height: 11vh;  
    }
    p {
        font-size: 104%;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        width: 100%;
        justify-content: center;
    }
    h4 {
        font-size: 16px;
        width: 100%;
        justify-content: center;
    }
    body{
        width: 100vw;
    }

}